/* custom.css */


.sumplementaryMaterialPreview{
	width: 30%;
}

div#summplementaryMaterial {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
}

.sumplementaryMaterialPreview {
    cursor: pointer!important;
}

img.bnw {
    -webkit-filter: grayscale(100%)!important;
       -moz-filter: grayscale(100%)!important;
         -o-filter: grayscale(100%)!important;
        -ms-filter: grayscale(100%)!important;
            filter: grayscale(100%)!important; 
}


.googleFont{
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


.title{

}


div#mainVideoText {
    height: 58vh;
    overflow-y: scroll;
}

.words{
    cursor: pointer;
}